<?xml version="1.0" encoding="utf-8"?>
<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
        <ifm xmlns="urn:huawei:yang:huawei-ifm">
            <interfaces>
		<interface>
                    <name>GigabitEthernet0/0/0</name>
                    <class>main-interface</class>
                    <type>MEth</type>
                    <number>0/0/0</number>
                    <description>Management port</description>
                    <admin-status>up</admin-status>
                    <link-protocol>ethernet</link-protocol>
                    <router-type>broadcast</router-type>
                    <clear-ip-df>false</clear-ip-df>
                    <link-up-down-trap-enable>true</link-up-down-trap-enable>
                    <statistic-enable>true</statistic-enable>
                    <statistic-mode>interface-based</statistic-mode>
                    <mtu>1500</mtu>
                    <spread-mtu-flag>false</spread-mtu-flag>
                    <vrf-name>MGMT</vrf-name>
                    <l2-mode-enable>false</l2-mode-enable>
                    <cpudefend xmlns="urn:huawei:yang:huawei-cpudefend">
                        <arp-safeguards>
                            <arp-safeguard>false</arp-safeguard>
                        </arp-safeguards>
                        <arp-vlan-car>
                            <rate-limit>20</rate-limit>
                        </arp-vlan-car>
                        <nd-vlan-cars>
                            <nd-vlan-car>
                                <type>na</type>
                                <rate-limit>100</rate-limit>
                            </nd-vlan-car>
                            <nd-vlan-car>
                                <type>ns-unicast</type>
                                <rate-limit>100</rate-limit>
                            </nd-vlan-car>
                            <nd-vlan-car>
                                <type>ns-multicast</type>
                                <rate-limit>100</rate-limit>
                            </nd-vlan-car>
                        </nd-vlan-cars>
                        <arp-check>
                            <check-destination-ip>false</check-destination-ip>
                        </arp-check>
                        <arp-filter>
                            <filter-gratuitous>false</filter-gratuitous>
                            <filter-mac-illegal>false</filter-mac-illegal>
                            <filter-tha-filled-request>false</filter-tha-filled-request>
                        </arp-filter>
                    </cpudefend>
                    <arp-entry xmlns="urn:huawei:yang:huawei-arp">
                        <expire-time>1200</expire-time>
                        <probe-interval>5</probe-interval>
                        <probe-times>3</probe-times>
                        <arp-learn-disable>false</arp-learn-disable>
                        <arp-learn-strict>trust</arp-learn-strict>
                        <route-proxy-enable>false</route-proxy-enable>
                        <inner-proxy-enable>false</inner-proxy-enable>
                        <inter-proxy-enable>false</inter-proxy-enable>
                        <fake-expire-time>5</fake-expire-time>
                        <probe-unicast>false</probe-unicast>
                        <dest-mac-check>false</dest-mac-check>
                        <src-mac-check>false</src-mac-check>
                        <gratuitous-send>enable</gratuitous-send>
                        <anyway-proxy-enable>false</anyway-proxy-enable>
                        <fake-penalty-time>5</fake-penalty-time>
                        <gratuitous-arp-drop>false</gratuitous-arp-drop>
                    </arp-entry>
                    <ipv4 xmlns="urn:huawei:yang:huawei-ip">
                        <addresses>
                            <address>
                                <ip>172.29.111.148</ip>
                                <mask>255.255.255.128</mask>
                                <type>main</type>
                            </address>
                        </addresses>
                    </ipv4>
                    <ipv6 xmlns="urn:huawei:yang:huawei-ip">
                        <mtu6>1500</mtu6>
                        <spread-mtu-flag>false</spread-mtu-flag>
                        <auto-link-local>false</auto-link-local>
                        <nd-collection xmlns="urn:huawei:yang:huawei-ipv6-nd">
                            <if-property>
                                <retrans-timer>1000</retrans-timer>
                                <nud-reach-time>1200000</nud-reach-time>
                                <attempts-value>1</attempts-value>
                                <max-dyn-nb-num>0</max-dyn-nb-num>
                                <nud-attempts>3</nud-attempts>
                                <na-glean>off</na-glean>
                                <strict-flag>false</strict-flag>
                                <ts-fuzz-factor>1</ts-fuzz-factor>
                                <ts-clock-drift>1</ts-clock-drift>
                                <ts-delta>300</ts-delta>
                                <rsa-min-key-len>512</rsa-min-key-len>
                                <rsa-max-key-len>2048</rsa-max-key-len>
                                <nud-interval>5000</nud-interval>
                            </if-property>
                        </nd-collection>
                    </ipv6>
	    </interface>

	    <interface>
                    <name>100GE8/0/0</name>
                    <class>main-interface</class>
                    <type>100GE</type>
                    <number>8/0/0</number>
                    <description>left</description>
                    <admin-status>up</admin-status>
                    <link-protocol>ethernet</link-protocol>
                    <router-type>broadcast</router-type>
                    <clear-ip-df>false</clear-ip-df>
                    <link-up-down-trap-enable>true</link-up-down-trap-enable>
                    <statistic-enable>true</statistic-enable>
                    <statistic-mode>interface-based</statistic-mode>
                    <mtu>1500</mtu>
                    <spread-mtu-flag>false</spread-mtu-flag>
                    <vrf-name>_public_</vrf-name>
                    <l2-mode-enable>false</l2-mode-enable>
                    <trap-threshold>
                        <input-rising-rate>90</input-rising-rate>
                        <input-resume-rate>80</input-resume-rate>
                        <output-rising-rate>90</output-rising-rate>
                        <output-resume-rate>80</output-resume-rate>
                    </trap-threshold>
                    <ignore-damp>
                        <ignore-global-damp>false</ignore-global-damp>
                    </ignore-damp>
                    <ethernet xmlns="urn:huawei:yang:huawei-ethernet">
                        <main-interface>
                            <vlan-swap>disable</vlan-swap>
                            <qinq-protocol>0x8100</qinq-protocol>
                        </main-interface>
                    </ethernet>
                    <cpudefend xmlns="urn:huawei:yang:huawei-cpudefend">
                        <arp-safeguards>
                            <arp-safeguard>false</arp-safeguard>
                        </arp-safeguards>
                        <arp-vlan-car>
                            <rate-limit>20</rate-limit>
                        </arp-vlan-car>
                        <nd-vlan-cars>
                            <nd-vlan-car>
                                <type>na</type>
                                <rate-limit>100</rate-limit>
                            </nd-vlan-car>
                            <nd-vlan-car>
                                <type>ns-unicast</type>
                                <rate-limit>100</rate-limit>
                            </nd-vlan-car>
                            <nd-vlan-car>
                                <type>ns-multicast</type>
                                <rate-limit>100</rate-limit>
                            </nd-vlan-car>
                        </nd-vlan-cars>
                        <arp-check>
                            <check-destination-ip>false</check-destination-ip>
                        </arp-check>
                        <arp-filter>
                            <filter-gratuitous>false</filter-gratuitous>
                            <filter-mac-illegal>false</filter-mac-illegal>
                            <filter-tha-filled-request>false</filter-tha-filled-request>
                        </arp-filter>
                    </cpudefend>
                    <ptpa-ports xmlns="urn:huawei:yang:huawei-clocksync-ptpadapt">
                        <ptpa-port>
                            <ptp-atr-en>false</ptp-atr-en>
                        </ptpa-port>
                    </ptpa-ports>
                    <lacp-force-up xmlns="urn:huawei:yang:huawei-lacp">
                        <force-up>false</force-up>
                    </lacp-force-up>
                    <lldp xmlns="urn:huawei:yang:huawei-lldp">
                        <session>
                            <admin-status>tx-rx</admin-status>
                            <port-mode>normal-mode</port-mode>
                            <tlv-enable>
                                <management-address>true</management-address>
                                <port-description>true</port-description>
                                <system-capability>true</system-capability>
                                <system-description>true</system-description>
                                <system-name>true</system-name>
                                <port-vlan-id>true</port-vlan-id>
                                <protocol-vlan-id-enable>true</protocol-vlan-id-enable>
                                <vlan-name-enable>true</vlan-name-enable>
                                <protocol-identity>false</protocol-identity>
                                <mac-physic>true</mac-physic>
                                <link-aggregation>true</link-aggregation>
                                <max-frame-size>true</max-frame-size>
                            </tlv-enable>
                        </session>
                    </lldp>
                    <deephashcfg xmlns="urn:huawei:yang:huawei-mpls-forward">
                        <fragment-field>disable</fragment-field>
                        <deepmplshash>l3</deepmplshash>
                    </deephashcfg>
                    <qos xmlns="urn:huawei:yang:huawei-qos">
                        <port-queues>
                            <port-queue>
                                <service-class>be</service-class>
                                <port-wred-name>BEST_EFFORT_FWD_100GE</port-wred-name>
                                <queue-schedule-mode>wfq</queue-schedule-mode>
                                <weight>50</weight>
                            </port-queue>
                            <port-queue>
                                <service-class>af1</service-class>
                                <queue-schedule-mode>wfq</queue-schedule-mode>
                                <weight>10</weight>
                            </port-queue>
                            <port-queue>
                                <service-class>af2</service-class>
                                <port-wred-name>ASSURED_FWD_100GE</port-wred-name>
                                <queue-schedule-mode>wfq</queue-schedule-mode>
                                <weight>30</weight>
                            </port-queue>
                            <port-queue>
                                <service-class>af3</service-class>
                                <port-wred-name>STREAMING_FWD_100GE</port-wred-name>
                                <queue-schedule-mode>wfq</queue-schedule-mode>
                                <weight>5</weight>
                            </port-queue>
                            <port-queue>
                                <service-class>af4</service-class>
                                <port-wred-name>REALTIME_FWD_100GE</port-wred-name>
                                <queue-schedule-mode>pq</queue-schedule-mode>
                                <shaping-percentage>30</shaping-percentage>
                            </port-queue>
                            <port-queue>
                                <service-class>ef</service-class>
                                <queue-schedule-mode>pq</queue-schedule-mode>
                                <shaping-percentage>10</shaping-percentage>
                            </port-queue>
                            <port-queue>
                                <service-class>cs6</service-class>
                                <queue-schedule-mode>pq</queue-schedule-mode>
                                <shaping-percentage>5</shaping-percentage>
                            </port-queue>
                            <port-queue>
                                <service-class>cs7</service-class>
                                <queue-schedule-mode>pq</queue-schedule-mode>
                            </port-queue>
                        </port-queues>
                        <port-queue-alarms>
                            <port-queue-alarm>
                                <service-class>cs6</service-class>
                                <buffer-percentage>99</buffer-percentage>
                            </port-queue-alarm>
                            <port-queue-alarm>
                                <service-class>cs7</service-class>
                                <buffer-percentage>99</buffer-percentage>
                            </port-queue-alarm>
                        </port-queue-alarms>
                    </qos>
                </interface>
                <interface>
                    <name>100GE8/0/1</name>
                    <class>main-interface</class>
                    <type>100GE</type>
                    <number>8/0/1</number>
                    <description>right</description>
                    <admin-status>down</admin-status>
                    <link-protocol>ethernet</link-protocol>
                    <router-type>broadcast</router-type>
                    <clear-ip-df>false</clear-ip-df>
                    <link-up-down-trap-enable>true</link-up-down-trap-enable>
                    <statistic-enable>true</statistic-enable>
                    <statistic-mode>interface-based</statistic-mode>
                    <mtu>1500</mtu>
                    <spread-mtu-flag>false</spread-mtu-flag>
                    <vrf-name>_public_</vrf-name>
                    <l2-mode-enable>false</l2-mode-enable>
                    <trap-threshold>
                        <input-rising-rate>90</input-rising-rate>
                        <input-resume-rate>80</input-resume-rate>
                        <output-rising-rate>90</output-rising-rate>
                        <output-resume-rate>80</output-resume-rate>
                    </trap-threshold>
                    <ignore-damp>
                        <ignore-global-damp>false</ignore-global-damp>
                    </ignore-damp>
                    <fim xmlns="urn:huawei:yang:huawei-fim-ifm">
                        <statistic-mode>mac</statistic-mode>
                        <mac-statistic-enable>disable</mac-statistic-enable>
                    </fim>
                    <ethernet xmlns="urn:huawei:yang:huawei-ethernet">
                        <main-interface>
                            <vlan-swap>disable</vlan-swap>
                            <qinq-protocol>0x8100</qinq-protocol>
                            <fim-main xmlns="urn:huawei:yang:huawei-fim-ethernet">
                                <outer-vlan-enable>disable</outer-vlan-enable>
                            </fim-main>
                        </main-interface>
                    </ethernet>
                    <dhcpv6-relay-attribute xmlns="urn:huawei:yang:huawei-dhcpv6">
                        <gateway-switch-enable>false</gateway-switch-enable>
                        <strict-check>false</strict-check>
                        <option>
                            <insert-subscriber-id>false</insert-subscriber-id>
                        </option>
                    </dhcpv6-relay-attribute>
                    <dhcp-relay-attribute xmlns="urn:huawei:yang:huawei-dhcp">
                        <enable>false</enable>
                        <option82>
                            <link-selection-enable>false</link-selection-enable>
                            <subscriber-id-enable>false</subscriber-id-enable>
                        </option82>
                    </dhcp-relay-attribute>
                    <cpudefend xmlns="urn:huawei:yang:huawei-cpudefend">
                        <arp-safeguards>
                            <arp-safeguard>false</arp-safeguard>
                        </arp-safeguards>
                        <arp-vlan-car>
                            <rate-limit>20</rate-limit>
                        </arp-vlan-car>
                        <nd-vlan-cars>
                            <nd-vlan-car>
                                <type>na</type>
                                <rate-limit>100</rate-limit>
                            </nd-vlan-car>
                            <nd-vlan-car>
                                <type>ns-unicast</type>
                                <rate-limit>100</rate-limit>
                            </nd-vlan-car>
                            <nd-vlan-car>
                                <type>ns-multicast</type>
                                <rate-limit>100</rate-limit>
                            </nd-vlan-car>
                        </nd-vlan-cars>
                        <arp-check>
                            <check-destination-ip>false</check-destination-ip>
                        </arp-check>
                        <arp-filter>
                            <filter-gratuitous>false</filter-gratuitous>
                            <filter-mac-illegal>false</filter-mac-illegal>
                            <filter-tha-filled-request>false</filter-tha-filled-request>
                        </arp-filter>
                    </cpudefend>
                    <ptpa-ports xmlns="urn:huawei:yang:huawei-clocksync-ptpadapt">
                        <ptpa-port>
                            <ptp-atr-en>false</ptp-atr-en>
                        </ptpa-port>
                    </ptpa-ports>
                    <arp-entry xmlns="urn:huawei:yang:huawei-arp">
                        <expire-time>1200</expire-time>
                        <probe-interval>5</probe-interval>
                        <probe-times>3</probe-times>
                        <arp-learn-disable>false</arp-learn-disable>
                        <arp-learn-strict>trust</arp-learn-strict>
                        <route-proxy-enable>false</route-proxy-enable>
                        <inner-proxy-enable>false</inner-proxy-enable>
                        <inter-proxy-enable>false</inter-proxy-enable>
                        <fake-expire-time>5</fake-expire-time>
                        <probe-unicast>false</probe-unicast>
                        <dest-mac-check>false</dest-mac-check>
                        <src-mac-check>false</src-mac-check>
                        <gratuitous-send>enable</gratuitous-send>
                        <anyway-proxy-enable>false</anyway-proxy-enable>
                        <fake-penalty-time>5</fake-penalty-time>
                        <gratuitous-arp-drop>false</gratuitous-arp-drop>
                    </arp-entry>
                    <lacp-force-up xmlns="urn:huawei:yang:huawei-lacp">
                        <force-up>false</force-up>
                    </lacp-force-up>
                    <lldp xmlns="urn:huawei:yang:huawei-lldp">
                        <session>
                            <admin-status>tx-rx</admin-status>
                            <port-mode>normal-mode</port-mode>
                            <tlv-enable>
                                <management-address>true</management-address>
                                <port-description>true</port-description>
                                <system-capability>true</system-capability>
                                <system-description>true</system-description>
                                <system-name>true</system-name>
                                <port-vlan-id>true</port-vlan-id>
                                <protocol-vlan-id-enable>true</protocol-vlan-id-enable>
                                <vlan-name-enable>true</vlan-name-enable>
                                <protocol-identity>false</protocol-identity>
                                <mac-physic>true</mac-physic>
                                <link-aggregation>true</link-aggregation>
                                <max-frame-size>true</max-frame-size>
                            </tlv-enable>
                        </session>
                    </lldp>
                    <deephashcfg xmlns="urn:huawei:yang:huawei-mpls-forward">
                        <fragment-field>disable</fragment-field>
                        <deepmplshash>l3</deepmplshash>
                    </deephashcfg>
                    <qos xmlns="urn:huawei:yang:huawei-qos">
                        <port-queues>
                            <port-queue>
                                <service-class>be</service-class>
                                <port-wred-name>BEST_EFFORT_FWD_100GE</port-wred-name>
                                <queue-schedule-mode>wfq</queue-schedule-mode>
                                <weight>50</weight>
                            </port-queue>
                            <port-queue>
                                <service-class>af1</service-class>
                                <queue-schedule-mode>wfq</queue-schedule-mode>
                                <weight>10</weight>
                            </port-queue>
                            <port-queue>
                                <service-class>af2</service-class>
                                <port-wred-name>ASSURED_FWD_100GE</port-wred-name>
                                <queue-schedule-mode>wfq</queue-schedule-mode>
                                <weight>30</weight>
                            </port-queue>
                            <port-queue>
                                <service-class>af3</service-class>
                                <port-wred-name>STREAMING_FWD_100GE</port-wred-name>
                                <queue-schedule-mode>wfq</queue-schedule-mode>
                                <weight>5</weight>
                            </port-queue>
                            <port-queue>
                                <service-class>af4</service-class>
                                <port-wred-name>REALTIME_FWD_100GE</port-wred-name>
                                <queue-schedule-mode>pq</queue-schedule-mode>
                                <shaping-percentage>30</shaping-percentage>
                            </port-queue>
                            <port-queue>
                                <service-class>ef</service-class>
                                <queue-schedule-mode>pq</queue-schedule-mode>
                                <shaping-percentage>10</shaping-percentage>
                            </port-queue>
                            <port-queue>
                                <service-class>cs6</service-class>
                                <queue-schedule-mode>pq</queue-schedule-mode>
                                <shaping-percentage>5</shaping-percentage>
                            </port-queue>
                            <port-queue>
                                <service-class>cs7</service-class>
                                <queue-schedule-mode>pq</queue-schedule-mode>
                            </port-queue>
                        </port-queues>
                        <port-queue-alarms>
                            <port-queue-alarm>
                                <service-class>cs6</service-class>
                                <buffer-percentage>99</buffer-percentage>
                            </port-queue-alarm>
                            <port-queue-alarm>
                                <service-class>cs7</service-class>
                                <buffer-percentage>99</buffer-percentage>
                            </port-queue-alarm>
                        </port-queue-alarms>
                    </qos>
	    </interface>
    </interfaces>
  </ifm>
</config>
